#profileGridContainer{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-auto-rows: .25fr .25fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: .5fr 1fr 1fr 1fr 1fr 1fr .5fr;
    grid-template-areas:
    'signOutButton . findAllSongs yourHomePage yourSavedSongs . uploadSongs'
    '. . userProfileImage userProfileImage userProfileImage . .'
    '. . userProfileImage userProfileImage userProfileImage . .'
    '. . userProfileImage userProfileImage userProfileImage . .'
    '. . . username . . .'
    '. . . . . . .';
}
#changeProfileImg{
    border-radius: 100%;
    margin: auto;
    width: 200px;
    height: 200px;
    grid-area: userProfileImage;
}
/*grid for navigator buttons*/
.searchNavigationButton{
    grid-area: findAllSongs;
}
.homeNavigationButton{
    grid-area: yourHomePage;
}
.yourSongsNavigationButton{
    grid-area: yourSavedSongs;
}
.uploadSongsNavigationButton{
    grid-area: uploadSongs;
}
#signOutButton{
    grid-area: signOutButton;
}
.playSongButton{
    width: 50px;
    height: 50px;
    background-image: url("musicStreaming/signedIn/playbutton.png");
}
.pauseSongButton{
    display: none;
}
#cpPlaySongButton{
    grid-area: cpPlay;
}
#userName{
    grid-area: username;
    font-size: 170%;
    justify-self: center;
}